body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: #f1f3f6;
  background-size: cover;
}

.main {
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-wrapper {
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #f1f3f6;
  box-shadow: 24px 24px 80px #3754aa40, -24px -24px 80px #fff;
}

.form-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.self-center {
  align-self: center;
  min-width: 66%;
}

input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

label {
  color: #9c8bff5e;
}

.btn {
  padding: 0.8rem;
  border: none;
  border-radius: 50px;
  text-align: center;
  color: linear-gradient(270deg, #241842 0%, #9c8bff 100%);;
  transition: all ease-in 300ms;
}

.btn[disabled] {
  background: #241842;
}

.content {
  flex: 1;
}

.bg-purple-gradient {
  background: linear-gradient(270deg, #241842 0%, #9c8bff 100%);
}

.flex-column {
  flex-direction: column;
}
