body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: aliceblue;
  background-image: url("./img/blue-2384333_1280.png");
  background-size: cover;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #f4f4f4;
}

.btn:hover {
  background-color: transparent;
}
