body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: aliceblue;
  background-image: url("./img/blue-2384333_1280.png");
  background-size: cover;
}

.avatar img {
  border-radius: 50%;
}

.scroller {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: calc(100vh - 90px);
}

#main-messages {
  margin: 0;
  padding: 1rem;
  overflow: auto;
}

#form-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
