#form-message form {
  display: flex;
  flex: 1;
  height: 100%;
}

textarea, #send-btn {
  margin: 1rem;
  border: none;
  box-shadow: 2px 2px 2px #4134649d;
}

#send-btn {
  border-radius: 50%;
}

textarea {
  flex: 8 1;
  padding: 0.4rem;
  border-radius: 50px;
  resize: none;
}
