.avatar img {
  border-radius: 50%;
}

.scroller {
  position: relative;
  flex: 1;
  background-color: aliceblue;
  background-image: url("../../img/blue-2384333_1280.png");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: calc(100vh - 150px);
}

#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-messages {
  margin: 0;
  padding: 1rem;
  overflow: auto;
}

#form-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user__connected {
  position: absolute;
  top: 0;
  margin: .5rem;
  padding: .5rem;
  z-index: 5;
  box-shadow: .5rem .5rem 1rem #3754aa40;

  border-radius: 4px;
  background-color: #9c8bffbe;
  color: #fff;
}

.user__connected {
  position: absolute;
  top: 0;
  margin: .5rem;
  padding: .5rem;
  z-index: 5;
  box-shadow: .5rem .5rem 1rem #3754aa40;

  border-radius: 4px;
  background-color: #9c8bffbe;
  color: #fff;
}
